/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
    font-family: 'Open Sans', sans-serif;
    /* text-transform: lowercase; */
    
}

header {
    display: flex;
    padding: 10px;
    width: 90%;
    justify-content: center;
    margin: auto;
}

.logo {
    width: 25%;
}

.title {
    width: 50%;
    padding-left: 50px;

    
    
}
h1, h2 {
    font-family: 'fagocoblack', sans-serif;
    padding-top: 0;
    margin-left: 10px;
    margin-bottom: -10px;
    
}

h1 {
    font-size: 2rem;
}

.instructions {
    width: 90%;
    justify-content: center;
    margin: auto;
    padding: 10px;
}

form {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 10px;
}

fieldset{
    padding: 0;
    border: 1px solid #262626;
}
input, label {
    padding: 5px;
}

input[type="text"]{
    width: 50%;
    height: 2.5rem;
    
}

::placeholder {
    color: #308b7c;
    font-family: 'Open Sans', sans-serif; 
    font-size: 1rem;

}
input[type="radio"] {
    width: 20px;
    

}
h3 {
    font-family: 'fagocoblack', sans-serif;
}

.report-type, .signature {
    text-align: center;
}

.location, .treatment, .previous {
    flex-wrap: wrap;
    display: flex; 
}

.location p, .treatment p, .previous p {
    justify-content: flex-start;
    padding: 20px 5px;
    border: 0.5px solid #4fc1b1;
    width: 50%;
    margin: 0;
}
.injury p {
    display: flex;
    flex-direction: column;
}

.anatomy{
    display: flex;
    justify-content: center;
    padding: 20px;

}

area:hover {
    color:red;
}
#submit {
    width: 20%;
    height: 2.5rem;
    text-align: center;
    align-items: center;
    font-size: 1rem;
    padding: 10px;
    margin: 10px;
}


/* media queries */

@media screen and (max-width: 719px) {
    header, h1, h3, .location, .treatment, .previous  {
        flex-direction: column;
        width: 100%;
    }
    .location p, .treatment p, .previous p, p, input[type="text"]{
        width: 100%;
    }
    h1 {
        font-size: 1.25rem;
    }

}

