
/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/


body {
    font-family: 'Open Sans', sans-serif;
    color: #262626;
    
    
}

header {
    display: flex;
    padding: 10px;
    width: 90%;
    margin: auto;
    align-items: center;
}

#logo {
    width: auto;
    height: 100px;
}



.title {
    width: 66%;
    height: auto;
    padding: 15px;
    text-align: center;

    
    
}
h1, h2 {
    font-family: 'fagocoblack', sans-serif;
    
}

h1 {
    font-size: 2rem;
    margin-bottom: -10px;
}

.instructions {
    width: 90%;
    justify-content: center;
    margin: auto;
    padding: 10px;
}

form {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: -2px;
}

fieldset{
    padding: 0;
    border: 2px solid #262626;
}


input, label {
    padding: 5px;
}

input[type="text"], input[type="number"], select{
    width: 50%;
    height: 2.5rem;
    font-family: 'Open Sans', sans-serif; 
    
}

::placeholder, option {
    color: #308b7c;
    font-family: 'Open Sans', sans-serif; 
    font-size: 1rem;

}

h3 {
    font-family: 'fagocoblack', sans-serif;
}

.report-type, .signature {
    text-align: center;
}

.location, .treatment, .previous {
    flex-wrap: wrap;
    display: flex; 
}

.location p, .treatment p, .previous p {
    justify-content: flex-start;
    padding: 20px 5px;
    border-bottom: 1px solid #4fc1b1;
    border-left: 1px solid #4fc1b1;
    border-collapse: collapse;
    width: 50%;
    margin: 0;
    display: block;
}

.end{
    border-right: 1px solid #4fc1b1;
}
.injury p {
    display: flex;
    flex-direction: column;
    margin: 0;

}

.anatomy{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px; 
    
}

ul{
    display: flex;
    flex-wrap: wrap;
    
    
}
li{
    justify-content: space-between;
    width: 200px;
    display: flex;
    text-align: center;
    margin: 0 10px;
    border: 1px solid #cbe9e3;
    padding: 5px;
    
    
}


button{
    background-color: #308b7c;
    color: white;
    
}

li > button{
border-radius: 5px;
}

#add-injury, #submit {
    font-size: 1rem;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid #262626;
    height: 2.5rem;
}


#anatomy {
    
    width: 50%;
    margin: auto;
    display: block;
}

#submit {
    width: 20%;
    text-align: center;
    align-items: center;

}

button:hover {
    background-color: #cbe9e3;
    color: #262626;

}

/* media queries */

@media screen and (max-width: 1171px){
    .picker, ul{
        display: flex;
        flex-direction: column;
    }
    .picker label{
        width: 100%;
        }
    #add-injury{
        width: 80px;
    }

}


@media screen and (max-width: 750px) {

    header, h1, h3, .location, .treatment, .previous, .signature  {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .location p, .treatment p, .previous p, .signature p, p, input[type="text"], #anatomy{
        width: 100%;
    }

    .location p, .treatment p, .previous p{
        border-left: none;
    }
    
    .end{
        border-right: none;
    }
    h1 {
        font-size: 1.5rem;
    }
    li{
        width: 175px;
    }
    fieldset{
        border: none;
    }


}

#thanks{
    text-align: center;
    text-transform: lowercase;
}